.header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    background-color: rgb(255, 255, 255);
}

.header-container .nav-container{
    display: flex;
    flex-direction: row;
}
.header-container .logo-container{
    width: 200px;
    height: 200px;
    position : absolute;
}
#logo1{
    width: 100%;
    height: 150px;
    object-fit: contain;
    margin-top: -10px;
}