/*Main Container Settings*/
.introduction-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: 0;
}
/*______________________Secondary Container______________________*/
/*______Social Container_______*/
:root {
    --size: 50vmin;
    --white: #fff;
    --blue: #3051f1;
    --purple: #c92bb7;
    --red: #f73344;
    --orange: #fa8e37;
    --yellow: #fcdf8f;
    --yellow_to: #fbd377;
  }

.introSocials-container{
position: absolute;
top: 10em;
align-self: center;
}
.introSocials-container ul{
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
}
.introSocials-container ul li a{
    width: 60px;
    height: 60px;
    background-color: #fff;
    text-align: center;
    line-height: 60px;
    font-size: 30px;
    margin: 0 50px;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 3px solid #fff;
    z-index: 1;
    box-shadow: 1px 1px 6px rgb(0, 0, 0);
}
.introSocials-container ul li a:hover{
    box-shadow: 1px 1px 10px rgb(238, 223, 255);
}
.introSocials-container ul li a .icon{
position: relative;
  color: #262626;
  transition: .5s;
  z-index: 3;
}
.introSocials-container ul li a:hover .icon{
    color: #fff;
    transform: rotateY(360deg); 
}
.introSocials-container ul li a:before{
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(255, 169, 207);
  transition: .5s;
  z-index: 2;
}
.introSocials-container ul li a:hover:before{
    top: 0;
}
.introSocials-container ul li:nth-child(1) a:before{
    background: #3b5999;
}
.introSocials-container ul li:nth-child(2) a:before{
    background: #55acee;
}
.introSocials-container ul li:nth-child(3) a:before{
    background: #0077b5;
}
.introSocials-container ul li:nth-child(4) a:before{
    background: radial-gradient(
    circle farthest-corner at 28% 100%,
    var(--yellow) 0%,
    var(--yellow_to) 10%,
    var(--orange) 22%,
    var(--red) 35%,
    transparent 65%
  ), linear-gradient(145deg, var(--blue) 10%, var(--purple) 70%);
}
/*_____Introduction Text______*/
.introduction-part{
    display: flex;
    flex-direction: row;
}

.introduction-part .text-container h1{
    font-family: 'Merriweather';
    font-weight: 300;
    font-size: 35px;
}
.introduction-part .text-container h2{
    font-family: 'Raleway';
    font-weight: 400;
}